.flashHeader {
    margin-left: 70px;
    padding: 0.92rem;
}


.FlashWrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    overflow-y: hidden;

}

.FlashCard {
    background: #ededed;
    display: inline-block;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
    width: 12%;
    margin-bottom: 12px;
}


.product {
    position: relative;
    /* padding: 0 10px; */
}

.FlashCard img {
    width: 100%;
    height: 100px;
    display: inline-block;
    padding: 0 2px;
    border-radius: 10px 10px 0 0;

}

.FlashCard img:last-child {
    width: 200px;
}


.product .visit-button {
    border: none;
    font-size: 0.67rem;
    color: var(--white-color);
    padding: 0.3rem 0.57rem;
    background-color: #1377b1;
    border-radius: 0.375rem;
    margin: auto 12px;
    position: relative;
    cursor: pointer;
}

.product .visit-button:hover {
    background-color: var(--orange-color);
}

.add-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    margin-left: 7%;

}

.description .itemName {
    font-size: 0.65rem;
    text-align: left;

}

.description .price {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.description .price {
    font-size: 12px;
}
.description .price .newPrice{
    color:var
}

.price .cents{
    font-size:10px;
    color:var(--green-color)
}

.star {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.star .fa {
    color: rgb(209, 142, 17);
}


/* Media Query */

@media screen and (max-width:1200px) {
    .FlashCard {
        width: 30%;
    }

    .FlashCard img {
        height: auto;
    }
}

@media screen and (max-width:600px) {
    .FlashCard {
        width: 45%;
    }

    .FlashCard img {
        height: auto;
    }
}