.main-container {
    background-color: #f6f4e8;
}

.main-container .navbar-header {
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    color: var(--primary-main);
}

.main-container .navbar-header span {
    color: var(--orange-color);
}

.main-container .navbar-header .name {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 12px;
    font-size: 14px;
    font-weight: 400;
}

.main-container .icons-display {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    margin-right: 12px;
}

.main-container .icons-display .icons {
    padding: 10px;

}

.main-container .icons-display .icons i {
    color: var(--primary-main);
    padding: 10px;
    cursor: pointer;
}

.main-container .icons-display .image {
    display: flex;
    flex-direction: row;
    padding: 10px;
    cursor: pointer;
}

.main-container .icons-display .image .img-holder {}

.main-container .icons-display .image .img-holder img {
    height: 42px;
    width: 44px;
    background-color: aqua;
    border-radius: 50%;
}


.sales-wrapper {
    width: 70%;
    justify-content: center;
    position: relative;
    left: 12%;
}

.sales-cards {
    display: flex;
    justify-content: space-between;

}

.sales-items {
    background-color: white;
    margin: 1.7rem 0 0.4rem 0;
    padding: 0.3rem;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;

}

.sales-items-container {
    text-align: center;

}

.sales-items-container .sales-icon {
    display: flex;
    align-items: center;
    border-left: 3px solid var(--orange-color);
    padding: 10px 12px;
    font-size: 10px;
    font-weight: 400;
    color: black;
}

.sales-items-container .sales-icon i {
    margin: 0 12px;
}


.chart-displ {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.chart-displ h4 {
    opacity: 0.5;
    padding: 4px 12px
}

.chart-displ .sales-chart,
.statistics {
    width: 100%;
}


/* ============================================*/
/*              Media Query                     */
/* ============================================*/

@media screen and (max-width: 768px) {


    .main-container .navbar-header .name {
        font-size: 0.7rem;
    }

    .main-container .icons-display .icons,
    .main-container .icons-display .image {
        padding: 7px;
    }

    .main-container .icons-display .icons {
        display: flex;
        flex-wrap: nowrap;
    }

    .sales-wrapper {
        width: 100%;
        position: static;
        padding: 8px;
    }

    .sales-cards {
        flex-direction: column;
        justify-content: center;
    }

    .sales-items {
        margin: 0.4rem
    }

    .chart-displ {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}