/*----------------------Head ---------------------*/

.head {
    background-color: #0f3460;
    padding: 0.625rem 0;
    color: #fff;
}

.head i {
    margin-right: 0.625rem;
}

.head label {
    margin-right: 1.875rem;
    font-size: 0.8125rem;
}

/*----------------------Head ---------------------*/