@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

:root {
    --poopin-font: 'Poppins', sans-serif;
    --main-color: #524fb7;
    --dark-color: #100007;
    --white-color: #fff;
    --orange-color: #ff5714;
    --orange-prim: #fe5d36;
    --gray-color: #f4f4f9;
    --blue: #1711d8;
}

* {
    margin: 0;
    padding: 0;

}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: var(--poopin-font);
    font-size: 0.675rem;
    font-weight: 400;
    line-height: 1.3;
    color: var(--dark-color);
    background-color: var(--gray-color);

}

a {
    text-decoration: none;
}

/*--Welcome */
.welcome {
    text-align: center;
}

.welcome h4 {
    font-size: 2em;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 1.25rem;
}

/** social Link **/
ul {
    list-style: none;
}

/* container */


.container {
    max-width: 58.75rem;
    margin: 0 auto;

}

/* Wrapper  Login  and signUp*/


.wrapper>div {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50rem;
    min-height: 31.25rem;
    margin: 0 auto;
    background-color: var(--main-color);
    overflow: hidden;
    padding: 20px;

}



:is(.login, .signUp)>div {
    position: relative;
    flex: 1 0 50%;
    padding: 1.75rem;
}

/* content header */



.content-heading .y-style {
    display: flex;
    flex-direction: column;

}

/* Logo */

.logo a {
    display: inline-block;
    margin-bottom: 20.75px;
    color: var(--dark-color);
    font-weight: 700;
    font-size: 1.125rem;
}

.logo span {
    color: var(--orange-color);
}



/* Content Form */
.content-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

}



.login {
    display: flex;

    margin: 0 0 1.25rem;
}


form input:not(#terms, #remember),select {
    font-family: inherit;
    width: 100%;
    margin: 0 0 1.25rem;


    border: 0.09375rem solid var(--dark-color);
    border-radius: 0.625rem solid var(--white-color);
    padding: 0.24rem 0.8375rem;
}

form input::placeholder {
    color: var(--blue);
    font-size: 0.62rem;
}

.afterForm button {
    background-color: #fe5d36;
    color: var(--white-color);
    width: 100%;
    margin: 1.075rem 0;
    border: 0;
    line-height: 2.625rem;
    border-radius: 0.4375rem;
    cursor: pointer;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;

}

button:hover {
    background-color: var(--dark-color);

}

/*----  After Form ----*/
.afterForm {
    text-align: center;

}

form .check {
    position: relative;
    padding-left: 0.85rem;
    font-size: 0.75rem;

}

form .check input {
    position: absolute;
    left: 0;
    top: 0.15rem;


}

form .forgot {
    float: right;
    font-size: 0.75rem;
}

form label a,
.afterForm a {
    color: var(--main-color);

}

form :is(p, label) a:hover,
.afterForm a:hover {
    border-bottom: 1px dotted;
}

.content-form::before {
    content: "";
    position: absolute;
    width: 300%;
    height: 190%;
    background-color: var(--white-color);
    border-radius: 50%;
    transform: translate3d(-27%, 21%, 0);
    -webkit-transform: translate3d(-27%, 21%, 0);

}

.y-style {
    position: relative;
}


/*---- Login ---------*/

.social :is(ul, p) {
    display: flex;
    justify-content: center;

    position: relative;
    gap: 20px;
    margin: 1.25rem 0;
}

.social {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.social p::before {
    content: "";
    display: block;
    width: 3.7125rem;
    height: 0.125rem;
    background: var(--dark-color);
    left: 0;
    top: 50%;
    position: absolute;

}

.social p::after {
    content: "";
    display: block;
    width: 3.7125rem;
    height: 0.125rem;
    background: var(--dark-color);
    right: 0;
    top: 50%;
    position: absolute;

}

.social p span {
    background-color: var(--white-color);
    z-index: 1;
    padding: 0 1.25rem;
    color: var(--white-color);
    font-size: 0.6875rem;

}

.social a {
    display: flex;
    font-size: 1.25rem;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition: transform .3s;
}

.social a:hover {
    transform: translateY(-0.312rem);
    -webkit-transform: translateY(-0.312rem);
}

.social .google {
    color: #db4437;
}

.social .facebook {
    color: #4267b2;
}

.social .twitter {
    color: #1da1f2;
}

/*-------------------------------------*/
/*               Media Queries         */
/*-------------------------------------*/
@media screen and (min-width:768px) {


    .welcome h4 {
        font-size: 3em;
    }

    .wrapper>div {
        flex-direction: row;
        max-width: 50rem;

    }

    .signUp .content-heading .y-style {
        height: 100%;
        justify-content: space-between;
    }

    .content-form::before {
        transform: translate3d(-18%, -10%, 0);
        -webkit-transform: translate3d(-18%, -10%, );
        height: 150%;
        width: 200%;

    }

    .social p::after {
        width: 5.3125rem;
        height: 0.125rem;
    }

    .social p::before {

        width: 5.3125rem;
        height: 0.125rem;
    }
}

@media screen and (max-width:768px) {
    .wrapper>div {
        min-height: 100vh;
        display: block;

    }

    .login .content-form {
        margin-top: 21%;

    }

    .login .content-form::before {
        height: 250%
    }

    .signUp .content-form::before {
        height: 196%
    }

    .afterForm {
        margin-top: 20%;

    }

    form {
        margin-top: 1rem;
    }

    .signIn-style .afterForm {
        margin-top: -3%;

    }
}