.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../../GroceryImages/Item_4.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

/* .home .content {
    max-width: 50rem;
    background:rgb(216, 216, 216);
} */

.home .content h3 {
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.home .content span {
    font-size: 2.5rem;
    color: var(--green-color);
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    padding: 1rem 0;
    line-height: 1.5;
}

.shopNow{
    text-align: center;
    justify-content:center;
    align-items: center;
}


@media screen and (max-width: 768px{
    
} 