.card-container {
    display: flex;
    flex-wrap: wrap;

    background: yellow;
    margin-left: 20rem;
    z-index: -2;
}

.card {
    border: 2px solid #ededed;
    
}

.card-image {
    width: 13rem;

}

.card-title {
    margin: 1rem 0rem;
}

.card-reviews {
    margin-bottom: 1rem;
    display: flex;
}

.rating-star {
    color: #d5ab55;
}

.total-reviews {
    font-size: 0.9rem;
    margin-left: 0.3rem;
}

.card-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
}