.mdd-items {
    background-color: #fff;
    margin: 12px auto;
}

.search-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(37, 158, 191);


}

.search-header input {
    padding: 4px;
    text-align: center;
    width: 50%;
    margin: 12px;
    border: 0;
    padding: 8px;
}


.products {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 12px auto;
}

.products form label {
    display: block;
    width: 100%;
}

input,
textarea {
    border: 0.7px solid #000;
    outline: none;
}


.products .descr,
.products .img {
    width: 50%;
    display: flex;
    justify-content: center;

}

textarea {
    width: 70%;
}

.stocks {
    display: flex;

    flex-direction: row;
}

.stocks input {
    width: 70%;


}

.stocks p {
    margin-bottom: 0;
}

.descr form {
    width: 100%;
}

.descr input {
    width: 70%;
    align-items: center;
    padding: 5px;
}



.img img {
    width: 50%;
    height: 50%;
    margin: 12px;
    padding: 12px;
    background-color: #e8ead5;
    border: none;
}

.img input {
    border: none;
    position: relative;
    font-size: 12px;
}

@media screen and (max-width:768px) {

    .search-header {
        display: flex;
        width: 100%;
    }

    .products {
        flex-direction: column-reverse;
    }

    .products .descr {
        width: 100%;
        justify-content: center;
        height: 50%;
    }

    .descr form {
        width: 80%;
    }

    .descr input {
        width: 100%;
    }

    .textarea {
        width: 100%;
    }

    .img {
        display: block;
        margin: 12px auto;
        height: 50%;
    }

}