@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

:root {
    --poopin-font: 'Poppins', sans-serif;
    --main-color: #524fb7;
    --dark-color: #100007;
    --white-color: #fff;
    --orange-color: #ff5714;
    --orange-prim: #fe5d36;
    --gray-color: #f4f4f9;
    --blue: #1711d8;
    --green-color: #2ec114;
    --box-shadow: -0.625rem 0.9375rem 1.0625rem 0.5rem rgba(0, 0, 0, 0.19);

}

* {
    margin: 0;
    padding: 0;


}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    background-color: var(--gray-color);
    font-family: var(--poopin-font);

}